/* 오늘 날짜 배경색 */
.today {
    background-color: #FFFAF0;
}

.structure-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
