.record-group-button-container{
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 20px;
    min-height: 64px;
}

.record-group-button-container > button{
    background-color: #FFCB42;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

.record-group-navigation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0px 20px;
}

.record-group-header-container{
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 20px;
    min-height: 64px;
}

.record-group-container{
    padding: 24px 0px;
}

.left-label {
    padding-left: 12px;
    background: linear-gradient(to right, #FF5733 4px, transparent 4px);
}

.record-group-item {
    display: flex;
    align-items: center;
    padding: 7.5px 20px;
    position: relative;
    cursor: pointer;
}

.record-group-item:hover {
    background-color: #e0e0e0;
}

.record-group-navigation-label{
    font-size: 14px;
    font-weight: 500;
}

.record-group-navigation-arrow{
    transform: rotate(180deg);
} 

.record-group-navigation-label-container{
    display: flex;
    align-items: center;
    gap: 5px;
}