/* to embed a font */
@import url('./font.css');

:root {
    --black: #121212;
    --white: #FDFDFE;

    --gray001: #F7F8F9;
    --gray002: #EEF0F1;
    --gray003: #DFE0E1;
    --gray004: #BBC0C5;
    --gray005: #808991;
    --gray006: #515C66;

    --yellow001: #FFF0D1;
    --yellow002: #FFE3A5;
    --yellow003: #FFCD60;
    --yellow004: #FFBB26;

    --red: #FF3B30;
    --orange: #FF9500;
    --yellow: #FFCC00;
    --green: #34C759;
    --mint: #00C7BE;
    --teal: #30B0C7;
    --cyan: #32ADE6;
    --blue: #007AFF;
    --indigo: #5856D6;
    --purple: #AF52DE;
    --pink: #FF2D55;
    --brown: #A2845E;
}

/* 로그인 */
.login-wrap {width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; background-color: var(--gray001);}

.login-box {width: 50rem; padding: 4rem; background-color: var(--white); border-radius: .8rem; display: flex; flex-flow: column; row-gap: 4rem; align-items: center;}
.login-box > h1 {width: 100%; height: 5.2rem;}
.login-box > h1 > img {width: 100%; height: 100%; object-fit: contain;}
.login-box > p {text-align: center; font-size: 1.4rem; color: var(--gray005); line-height: 1.8;}
.login-box > ul {width: 100%;}

/* 헤더 */
header {width: 100%; height: 6.4rem; padding: 0 3.2rem; display: flex; align-items: center; justify-content: space-between; background-color: var(--white); border-bottom: 1px solid var(--gray002); position: sticky; top: 0; left: 0; z-index: 1000;}
header > h1 {cursor: pointer; height: 3.2rem;}
header > h1 > img {width: 100%; height: 100%; object-fit: contain;}
header > ul {display: flex; align-items: center; column-gap: 1rem;}
header > ul > li {font-size: 1.2rem; display: flex; align-items: center; column-gap: 1rem;}
header > ul > li + li::before {content: ''; width: 1px; height: 1rem; background-color: var(--gray004);}
header > ul > li > a {font-size: 1.2rem; color: var(--gray005);}

/* 푸터 */
footer {height: 2.4rem; padding: 0 2rem; display: flex; align-items: center; justify-content: space-between; border-top: 1px solid var(--gray002);}
footer > ul {display: flex; align-items: center; column-gap: .6rem;}
footer > ul > li {display: flex; align-items: center; column-gap: .6rem;}
footer > ul > li + li::before {content: ''; width: 1px; height: .8rem; background-color: var(--gray004);}
footer > ul > li > a {font-size: 1rem; color: var(--gray005);}
footer > p {font-size: 1rem; color: var(--gray005);}

/* 레이아웃 */
main {display: grid; grid-template-columns: 28rem auto; height: calc(100vh - 6.4rem);}

/* 레이아웃 - 사이드바 */
aside {border-right: 1px solid var(--gray002); display: flex; flex-flow: column;}
.aside-button {padding: 1.6rem 2rem; border-bottom: 1px solid var(--gray002);}

.aside-cont {flex: 1; display: flex; flex-flow: column; row-gap: 2.4rem; padding: 2.4rem 2rem;}
.aside-cont > * + * {border-top: 1px solid var(--gray002);}

.aside-cont .record-all {display: flex; align-items: center; justify-content: space-between; }
.aside-cont .record-all > div {flex: 1;}

.aside-cont .record-group {display: flex; flex-flow: column; row-gap: .8rem; padding-top: 2.4rem;}
.aside-cont .record-group .record-group-title {display: flex; align-items: center; justify-content: space-between;}
.aside-cont .record-group .record-group-title > div {flex: 1; display: flex; align-items: center; column-gap: .6rem;}
.aside-cont .record-group .record-group-title > div > p {font-size: 1.2rem; font-weight: 500; color: var(--gray005);}
.aside-cont .record-group .record-group-title > div > button > i {transition: transform 0.2s ease-in-out;}
.aside-cont .record-group .record-group-title > div > button.active > i {transform: rotate(180deg);}

.aside-cont .record-group .record-group-list {display: flex; flex-flow: column; width: calc(100% + 4rem); margin: 0 -2rem;}
.aside-cont .record-group .record-group-list > li {width: 100%; height: 3.2rem; padding: 0 2rem; display: flex; align-items: center; justify-content: space-between;}
.aside-cont .record-group .record-group-list > li .info {flex: 1;}
.aside-cont .record-group .record-group-list > li .info > input + label::before {background-color: var(--group-color);}
.aside-cont .record-group .record-group-list > li .info > input + label input {flex: 1; height: 2.4rem; padding: 0 .8rem; border-radius: .4rem; font-size: 1.4rem;}
.aside-cont .record-group .record-group-list > li .more {position: relative;}
.aside-cont .record-group .record-group-list > li .more > button {opacity: 0;}
.aside-cont .record-group .record-group-list > li .more > button.active {opacity: 1;}

.aside-cont .record-group .record-group-list > li:hover {background-color: var(--gray002);}
.aside-cont .record-group .record-group-list > li:hover .more > button {opacity: 1;}

.aside-cont .record-group .record-edit-modal-wrap {width: 16rem; border-radius: .6rem; background-color: var(--white); border: 1px solid var(--gray002); display: flex; flex-flow: column; position: absolute; left: 4rem; top: -0.7rem; z-index: 100;}
.aside-cont .record-group .record-edit-modal-wrap > * + * {border-top: 1px solid var(--gray002);}
.aside-cont .record-group .record-edit-modal-wrap > button {width: 100%; height: 3.6rem; padding: 0 1.2rem; font-size: 1.4rem; font-weight: 500; color: var(--black); background-color: transparent; justify-content: flex-start;}
.aside-cont .record-group .record-edit-modal-wrap > button:hover {background-color: var(--gray002);}
.aside-cont .record-group .record-edit-modal-wrap .record-edit-color {padding: 1rem 1.2rem; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; grid-gap: .6rem;}
.aside-cont .record-group .record-edit-modal-wrap .record-edit-color > button {width: 1.6rem; height: 1.6rem; padding: 0; border-radius: .2rem;}

/* 레이아웃 - 본문 */
section {height: calc(100vh - 6.4rem); display: flex; flex-flow: column;}
section .contents {flex: 1; height: calc(100% - 2.4rem); overflow-y: auto; display: flex; flex-flow: column;}

/* 달력 - 상단 */
.calendar-option {height: 7.3rem; padding: 0 2rem; border-bottom: 1px solid var(--gray002); display: flex; align-items: center; justify-content: space-between;}
.calendar-option .calendar-nav {display: flex; align-items: center; column-gap: 1.6rem;}
.calendar-option .calendar-nav > h2 {font-size: 1.8rem; font-weight: 600;}
.calendar-option .calendar-nav > ul {height: 3.2rem; display: flex; border: 1px solid var(--gray003); border-radius: .6rem; background-color: var(--white); overflow: hidden;}
.calendar-option .calendar-nav > ul > li + li {border-left: 1px solid var(--gray003);}
.calendar-option .calendar-nav > ul > li > button {width: fit-content; height: 100%; padding: 0 1.2rem; border: 0; border-radius: 0; font-size: 1.2rem; font-weight: 500; color: var(--black); background-color: transparent;}
.calendar-option .calendar-nav > ul > li > button:hover {background-color: var(--gray002);}
.calendar-option .calendar-type {display: flex; align-items: center; column-gap: 1.6rem;}

/* 달력 - 본문  */
.calendar-wrap {flex: 1;}

.calendar-monthly {width: 100%; height: 100%; table-layout: fixed;}
.calendar-monthly thead th {height: 2.4rem; border-bottom: 1px solid var(--gray002); font-size: 1.2rem; color: var(--gray005); vertical-align: middle; text-align: center;}
.calendar-monthly thead th.holiday {color: var(--red);}
.calendar-monthly thead th + th {border-left: 1px solid var(--gray002);}

.calendar-monthly tbody tr + tr {border-top: 1px solid var(--gray002);}
.calendar-monthly tbody tr > td {padding: .6rem 1rem;}
.calendar-monthly tbody tr > td + td {border-left: 1px solid var(--gray002);}
.calendar-monthly tbody tr > td > div {display: flex; align-items: center; justify-content: space-between; font-size: 1.2rem; margin-bottom: .2rem;}

.calendar-monthly tbody tr > td.holiday > div {color: var(--red);}
.calendar-monthly tbody tr > td.today {background-color: var(--yellow001);}