/* Tabs */
.tabs {
  display: flex;
  gap: 0;
  border: 2px solid #e5e7eb;
  border-radius: .8rem;
  background: #f9fafb;
  margin: 20px 40px;
}

.tab {
  height: 32px;
  border: none;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #6b7280;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  margin: 3px;
}

.tab:hover {
  color: #374151;
  background-color: rgba(0, 0, 0, 0.02);
}

.tabActive {
  color: #000;
  background-color: #fff;
}

/* 반응형 */
@media (max-width: 768px) {
  .tabs {
    margin: 20px 20px;
  }

  .tab {
    padding: 12px 16px;
    font-size: 14px;
  }
}

