.calendar-header-container {
    flex-shrink: 0;
}

.calendar-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.calendar-title-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.calendar-title {
    font-size: 18px;
    font-weight: 500;
}

.calendar-nav-group {
    display: flex;
}

.calendar-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 9px 12px;
}

.calendar-nav-button:hover {
    background: #f8f8f8;
}


.calendar-nav-button-left {
    border: 1px solid #e0e0e0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.calendar-nav-button-middle {
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: none;
}

.calendar-nav-button-right {
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}