.container {
    display: flex;
    min-height: 100vh;
    background-color: #171717;
}

.section {
    margin-left: 240px;
    flex: 1;
    min-height: 100vh;
    background-color: #171717;
}

.contents {
    padding: 0;
}
