.container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.main {
  margin-left: 260px;
  flex: 1;
  padding: 32px;
  overflow-y: auto;
  min-height: 100vh;
}

.section {
  margin-left: 260px;
  flex: 1;
  padding: 32px;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.contents {}
